/*  Pintail Research Style Sheet   */


/*Imports*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto|Montserrat&display=swap');

/*Site Wide*/
:root {
  --accent-color: #ec0772;
  --primary-color: #552d7c;
}
* {
  margin: 0;
  padding: 0;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('images/background.jpg');
  height: 100vh;
  background position: center;
  background-size: cover;
}
.hero{
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  color: fff;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
h1{
  font-size: 60px;
  letter-spacing: 15px;
}
hr{
  width: 50%;
  margin: 30px auto;
  border: 1.5px solid #fff;
}
p{
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  margin-bottom: 30px;
}
#launch{
  font-size: 40px;
  word-spacing: 20px;
  }
img{
  width: 200px;
  height: auto;
  position: absolute;
  right: 0;
  top: 5px;
}

@media screen and (max-width: 700px){
  h1{
  font-size: 40px;
  letter-spacing: 5px;
}
  #launch{
    font-size: 20px;
    word-spacing: 10px;
  }
  p{
    font-size: 22px;
  }
  
}

